<form #usuarioLoginForm="ngForm" (ngSubmit)="loginUser(usuarioLoginForm)" novalidate>
  <div class="form-group">
    <label>Correo</label>
    <input #userEmailLogin="ngModel" required ngModel name="CORREO_LOGIN" for="CORREO_LOGIN" type="email" class="form-control" placeholder="Enter email">
    <div *ngIf="userEmailLogin.touched" >
      <div class="alert alert-danger" role="alert" *ngIf="userEmailLogin?.required">
        El Correo es requerido
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="userEmailLogin?.pattern">
        Es invalido
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input #userPassLogin="ngModel" required ngModel name="PASSWORD_LOGIN" for="CORREO_LOGIN" type="password" class="form-control" placeholder="Password">
    <div *ngIf="userPassLogin.touched" >
      <div class="alert alert-danger" role="alert" *ngIf="userPassLogin?.required">
        El Password es requerido
      </div>
    </div>
  </div>
  <button [disabled]="usuarioLoginForm.invalid" type="submit" class="btn btn-primary">Log In</button>
  <p *ngIf="loading">Logeando Espere...</p>
  <a [routerLink]="['/registro']" class="btn btn-link">Registro</a>
</form>