<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7 col-xs-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#registro">Registro</a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active container" id="login">
          <app-login></app-login>
        </div>
        <div class="tab-pane container" id="registro">
          <app-registro></app-registro>
        </div>
      </div>
    </div>
  </div>
</div>