<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Datos Personales</h5>
    <hr>
    <form #formGroupPerfil="ngForm" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6 col-xs-12">
          <label>Correo</label>
          <input #userCorreoEdit="ngModel" required [(ngModel)]="editCorreo" name="editCorreo" type="email" class="form-control" placeholder="Correo">
          <div *ngIf="userCorreoEdit.touched" >
            <div class="alert alert-danger" role="alert" *ngIf="userCorreoEdit.errors?.required">
              El Email es requerido
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="userCorreoEdit.errors?.pattern">
              Es invalido
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label>Contraseña</label>
          <input #userPassEdit="ngModel" required [(ngModel)]="editPass" name="editPass" type="password" class="form-control"  placeholder="Contraseña">
          <div *ngIf="userPassEdit.touched" >
            <div class="alert alert-danger" role="alert" *ngIf="userPassEdit.errors?.required">
              El Password es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-xs-12">
          <label>Nombre</label>
          <input #userNameEdit="ngModel" required [(ngModel)]="editNombre" name="editTitulo" type="text" class="form-control"  placeholder="Nombre">
          <div *ngIf="userNameEdit.touched" >
            <div class="alert alert-danger" role="alert" *ngIf="userNameEdit.errors?.required">
              El Nombre es requerido
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="userNameEdit.errors?.pattern">
              Es invalido
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label for="inputPassword4">Apellido</label>
          <input #userLastNameEdit="ngModel" required [(ngModel)]="editApellido" name="editApellido" type="text" class="form-control" placeholder="Apellido">
          <div *ngIf="userLastNameEdit.touched" >
            <div class="alert alert-danger" role="alert" *ngIf="userLastNameEdit.errors?.required">
              El Apellido es requerido
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="userLastNameEdit.errors?.pattern">
              Es invalido
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <button [disabled]="formGroupPerfil.invalid"  (click)="actualizarPerfil()" type="button" class="btn btn-outline-primary">Guardar Cambios</button>
</div>